<body>
    <app-selector-pagina [index]=1></app-selector-pagina>
    <div id="container_centrat">
        <mat-card>
            <p style="font-size: 50px; color:white;" class="primary-text" >Bun venit!</p>
            <br><br>
            <p style="font-size: 20px; color:rgb(206, 206, 206);" class="primary-text">Poti sa iti faci o lista cu filmele vizionate si sa iti exprimi parerea despre acestea!</p>
            <br>
            <p style="font-size: 20px; color:rgb(163, 163, 163);" class="primary-text">Coordonatorii paginii:</p>
            <p style="font-size: 20px; color:rgb(163, 163, 163);" class="primary-text">Budeanu Andreea</p>
            <p style="font-size: 20px; color:rgb(163, 163, 163);" class="primary-text">Dragu Vlad Narcis</p>
            <br><br>
            <p style="font-size: 20px; color:rgb(163, 163, 163);" class="primary-text" >Contacte:</p>
            <ul style="font-size: 20px; color:rgb(163, 163, 163);" class="primary-text" >andreea.budeanu2001@yahoo.com</ul>
        </mat-card>
    </div>
</body>